{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container my-5">
        <h1 class="my-5 pt-3 text-center">Mentions Légales</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec risus ac nunc dapibus tincidunt. Sed sit amet velit eu mi malesuada varius. Nam bibendum ultricies arcu, nec consequat eros feugiat id. Nulla facilisi. Ut faucibus tellus non augue maximus luctus. Nunc pharetra tincidunt lectus, sit amet commodo leo blandit in. Sed scelerisque enim purus, vitae convallis velit ultrices a.</p>
        <p>Morbi pharetra eros vel nibh molestie luctus. Donec molestie leo nec turpis faucibus, vitae consequat arcu consequat. Sed nec sapien euismod, dapibus est a, fringilla eros. Nam a tellus quis lectus maximus suscipit vel ut dui. Sed vitae orci mi. Donec imperdiet aliquet enim, sit amet molestie libero commodo eu. Morbi commodo justo ac orci bibendum laoreet. Fusce iaculis sapien non velit maximus, vel placerat nunc tincidunt.</p>
        <p>Suspendisse potenti. Fusce aliquam commodo magna et vestibulum. Sed bibendum varius lacus, vel commodo sapien efficitur a. Proin eget velit leo. Ut lobortis hendrerit magna vel sollicitudin. Donec malesuada turpis a mauris efficitur, sed pulvinar nulla malesuada. Nullam vitae urna in arcu consectetur lobortis. Proin nec imperdiet nisi. Donec ultrices sapien lectus, at ultricies lectus dictum in. Integer hendrerit magna felis, id ornare est lacinia id. Etiam bibendum, elit eget fermentum elementum, eros augue luctus orci, ac malesuada mi est nec mauris. Morbi ultricies, libero at fringilla facilisis, odio ex bibendum nisi, vitae laoreet neque lorem sed nibh.</p>
        <p>Sed at semper augue. Aenean dignissim lorem sit amet sapien dignissim, sit amet iaculis augue luctus. Proin dignissim erat non sapien congue venenatis. Nullam et erat semper, ullamcorper turpis sed, feugiat risus. Sed commodo lorem a tortor finibus tristique. Fusce non augue commodo, posuere dolor eu, dapibus velit. Donec varius nisi in sem aliquet efficitur. Nulla facilisi. Nullam cursus, nibh sed rutrum faucibus, turpis magna fringilla diam, eget maximus velit ipsum nec lacus. Morbi ut bibendum est. Sed vel hendrerit orci, ac scelerisque magna. Donec commodo sapien ut dui efficitur blandit. Donec vitae nisl sit amet est tempor mollis. Donec vestibulum lacus quis neque consequat, non facilisis tellus imperdiet. Nam ut erat vitae metus sollicitudin sagittis quis sed mi.</p>
        <div class="row justify-content-center gap-2">
            <div class="col-sm-1">
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-note-sticky"></i> Imprimer</a>
            </div>
            <div class="col-sm-1">
                <a href="#" class="btn btn-success"><i class="fa-solid fa-download"></i> Télécharger</a>
            </div>
        </div>
    </div>
{% endblock %}
