{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container my-5">
        <h1 class="my-5 pt-3 text-center">Conditions générales</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu neque vel nibh finibus consequat. Duis vel nulla vestibulum, tincidunt risus ac, dignissim velit. Donec tincidunt posuere nulla, nec dignissim libero suscipit vitae. Pellentesque ut sagittis enim. Praesent pharetra dapibus metus vel facilisis. Vivamus placerat, ipsum nec faucibus venenatis, elit velit gravida purus, quis vehicula nisi felis eget ante.</p>
        <p>Aliquam eget varius quam. Sed laoreet erat et ex dignissim, in blandit justo dapibus. Donec ut magna vitae mauris aliquet laoreet. Sed gravida elementum mi, at pretium nunc auctor eget. Donec euismod, sapien quis dictum varius, elit arcu sollicitudin erat, sit amet dictum ex nulla id nisl. Nunc a nisi euismod, pharetra turpis non, euismod sapien. Etiam feugiat dui nec quam fringilla, eget blandit tellus ullamcorper. Ut ut congue tellus, at tincidunt nibh. Vestibulum ut mauris vel justo aliquam malesuada. Sed dictum libero vel mauris elementum, ut imperdiet ipsum sagittis. Integer efficitur tortor sit amet leo iaculis, vel eleifend sapien sollicitudin. Sed aliquam, lorem vel posuere facilisis, nibh nibh pellentesque urna, nec fringilla ex quam at purus.</p>
        <p>Pellentesque ultricies nulla in elit rhoncus ultricies. Etiam eu vestibulum enim, at sollicitudin nunc. Aenean ac faucibus sapien. Sed eu congue metus. Fusce pretium hendrerit elementum. Morbi eu odio vitae ante dictum pharetra. Maecenas a volutpat metus. Fusce non tellus vitae mi ullamcorper maximus. In hac habitasse platea dictumst.</p>
        <div class="row justify-content-center gap-2">
            <div class="col-sm-1">
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-note-sticky"></i> Imprimer</a>
            </div>
            <div class="col-sm-1">
                <a href="#" class="btn btn-success"><i class="fa-solid fa-download"></i> Télécharger</a>
            </div>
        </div>
    </div>
{% endblock %}
