{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container mt-5 pt-4">
        <h1 class="text-center mb-3">{{ title }}</h1>
        <div class="row justify-content-center gap-4">
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Alexandre</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 12/02/2021 à 15 h 03</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Sandrine</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 22/11/2021 à 23 h 29</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Émilie</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 14/08/2023 à 09 h 49</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Han</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 12/02/2021 à 15 h 03</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Andy</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 22/11/2021 à 23 h 29</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">Sophie</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Le 14/08/2023 à 09 h 49</h6>
                    <p class="card-text">
                        <i class="fa-solid fa-quote-left"></i>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        <i class="fa-solid fa-quote-right"></i>
                    </p>
                </div>
            </div>
        </div>

        <h2 class="mt-4 mb-2">Votre avis compte :</h2>

        <div class="row">
            <form class="col-md-4">
                <div class="mb-3">
                    <label for="last-name" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="last-name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Votre témoignage</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
        
    </div>

{% endblock %}
