{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container mt-5 pt-4">
        <h1 class="text-center mb-3">BACKOFFICE | Ajouter une image au slider</h1>
        {{ include('components/_form.html.twig', {button_label: "Ajouter"}) }}
    </div>

{% endblock %}
