<form method="post" action="{{ path(route, {id: data.id}) }}" 
    onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer définitvement {{ name }} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
	<button type="submit" class="btn btn-danger">
		<i class="fa-solid fa-trash-can"></i>
	</button>
</form>